@import url('./colors.css');

body {
  --wall: #10170c;
  --border: #777;
  --sharp: #fff;

  --shade2: rgba(0, 0, 0, 0.2);
  --shade3: rgba(0, 0, 0, 0.3);
  --shade4: rgba(0, 0, 0, 0.4);
  --shade6: rgba(0, 0, 0, 0.6);

  --card: #40453b;
  --cardlight: #455;

  --databox: #222;
  --databorder: #997; /* unused? */

  --symbol: #8da;
  --term: #ac9;
  --text: #dda;
  --code: #bba;

  --ref: #ca7;
  --refbox: #211;
  --refborder: #763;

  --arrow: rgb(103, 111, 111, 0.6);
  --arrowbox: rgba(34, 34, 34, 0.4);
  --arrowlight: rgba(34, 34, 34, 0.8);
  --arrowback: #764;
  --arrowtext: #676f6f;

  --rei: rgb(103, 111, 111, 0.2);
  --reiback: #467;
}
