body {
  --border: #aaa;
}

#view {
  background-color: #fffefa;
  color: #000;
}

#editor {
  background-color: #ffe;
  color: #014;
}

.card.embedded { border-color: var(--border); }

article.card { background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
article.card:hover { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6); }
article.card:target, article.card.selected { background-color: #fbf8e8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }

article.card.graph { background-color: #fafafa;
  border: 1px dashed #aaa; }
article.card.graph > header > .id { color: #aaa; }

article.card.embedded { border: 1px solid #36b;
  background-color: rgba(200, 242, 255, 0.8); }

article.card.term { background-color: rgba(200, 242, 255, 0.8); }

.type > b { color: #640; }
.card div > b { color: #044; }

a.ref { color: #601; }
.card > header > a.id { color: #601; background-color: rgba(239, 239, 222, 0.2); }
a.ref { background-color: #ffe;
  border: 1px solid #601;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); }
a.ref:hover, a.ref.selected { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }

.card .datatype { color: #333;
  background-color: #fafafa;
  border: 1px solid #aaa; }

.context b.pfx { color: #999; }
.context a.ref { color: #888;
  background-color: #eee;
  border: 1px solid #888; }

.annotation, #view article.triple {
  background-color: rgba(223, 223, 223, 0.8);
  border-color: #888;
}
.card .annotation div > b,
.card .annotation p > b { color: #014; }
.annotation a.ref { background-color: var(--databox);
  color: #014;
  border-color: #888; }

.card aside.rev { background-color: #eee; }

span.arrow { color: #676f6f; border: 1px solid #676f6f; }
span.arrow > a.id { color: #601; }
path.arrow.rev { stroke: rgb(103, 111, 111, 0.6); }
#arrowhead-rev { fill: rgb(103, 111, 111, 0.6); }
path.arrow.rel { stroke: #601; }
#arrowhead-rel { fill: #601; }
